<!DOCTYPE html>
<html>
<body style="background-color: rgb(123, 169, 199)">

<h2> Spent Predictions </h2>

<form action="/submit" method="post">
    <label for="AvgSession_Length"> AvgSession_Length:</label><br>
    <input type="text" id="Avg_Session_Length" name="Avg_Session_Length" value="0"><br>
    <label for="Total_Time"> Total_Time:</label><br>
    <input type="text" id="Time_on_App" name="Time_on_App" value="0"><br><br>
    <label for="Membership"> Membership:</label><br>
    <input type="text" id="Length_of_Membership" name="Length_of_Membership" value="0"><br><br>
    <input type="submit" value="submit">
</form>
</body>
</html>